body {
    background-image: url("../assets/jeremy-yap-J39X2xX_8CQ-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    color: white;
    overflow-x: hidden;
}

.gestion{
    background-image: url("../assets/felix-mooneeram-evlkOfkQ5rE-unsplash.jpg");

}


.horizontal {
    list-style-type: none;
    margin: 0 2em;
    padding: 0;
    overflow: hidden;

}

header h1 {
    color: white;
    text-transform: uppercase;
}
.truc ul{
    max-height: 10px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header li {
    float: left;
    background-color: #111;

}

header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header li a:hover {
    background-color: rgb(122, 37, 34);
}

.active {
    background-color: #aa0f04;
}

.search {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 400px;
    margin: 0 18em;
    margin-top: 4em;
    border-radius: 2px;
    padding: 1.4rem 2rem 1.6rem;
    padding-bottom: 0;

}

.search input {
    background-image: none;
    flex-grow: 1;
    font-size: 1.8rem;
    line-height: 2.4rem;
    vertical-align: middle;
border-radius: 2%;
width: auto;
}

.franky input{
    border-radius: 5px;
    color: rgba(128, 128, 128, 0);
    width: 30px;
    background-image: url("../assets/OK.png");
    background-repeat: no-repeat;
    padding: 2px;
    margin-left: 0.1em;
    background-size: 80%;
    background-position: center;
    cursor: pointer;
}

.franky input:hover{
    background-color: rgb(73, 199, 79);
    box-shadow: 0 0 2em 0.3em rgb(111, 250, 118)
}

#jaune:hover{
    box-shadow: 0 0 1.5em 0.5em rgb(255, 217, 0)
}
#rouge:hover{
    box-shadow: 0 0 1.5em 0.5em rgb(255, 0, 0)
}

th {
    color: #be1e02;
    padding-bottom: 0.3em;
}
.YOOOW{
    border: solid 3px rgb(63, 0, 0);
    border-radius: 20px;
    text-shadow: 2px 0 #111, -2px 0 #111, 0 2px #111, 0 -2px #111,
        1px 1px #111, -1px -1px #111, 1px -1px #111, -1px 1px #111;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.438);
    overflow: hidden;
    margin-left: 20em;
    padding: 0.2em 1em;
    height: 300px;
}
table {
    border: solid 3px rgb(63, 0, 0);
    border-radius: 20px;
    text-shadow: 2px 0 #111, -2px 0 #111, 0 2px #111, 0 -2px #111,
        1px 1px #111, -1px -1px #111, 1px -1px #111, -1px 1px #111;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.438);
    overflow: hidden;
    margin-left: 20em;
    padding: 0.2em 1em;
    /* padding: 0.2em 1em; */
}
.tab {
    height: 240px;
    overflow-y: auto;
    width: 200em;
    overflow-x: hidden;
}
.prenom {
    padding: 0 1em;}
H4 {
    margin-left: 20em;
}

td{
    padding: 0.2em;
    margin-bottom: 0;
}

td a{
    color: white;

    text-shadow: 2px 0 #111, -2px 0 #111, 0 2px #111, 0 -2px #111,
        1px 1px #111, -1px -1px #111, 1px -1px #111, -1px 1px #111;}
